<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pix</title>
    <link rel="stylesheet" href="../../static/css/pix/pix.css">
</head>
<body>
    <div class="container">
        <div class="container-app">
            <input placeholder="Chave pix" type="text" class="chavePix">
            <button onclick="pix.goForPageValue()" class="button_pix">Enviar</button>
        </div>
    </div>

    <script src="../../static/js/module/global/global.js"></script>
    <script src="../../static/js/pix/pix.js"></script>
    <script src="../../static/js/module/pix/pix.js"></script>
</body>
</html>